
body {
    background: #F6F6F6;

}
.container-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
}

.title-content {
    color: #404040 ;
    font-size: 1.5rem;
}

.container-category {
    display: flex;
    justify-content: space-between;
}